.member-item {
  display: flex;
  align-items: center;
  img {
    width: 36px;
    height: 36px;
  }
  &:any-link {
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    margin-bottom: 6px;
  }
  &:hover {
    color: var(--main-color-hover);
  }
}